@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using umbraco.NodeFactory
@using umbraco

@{ 
	Node parent = uQuery.GetNodesByName("_Uutiset").FirstOrDefault();
	var selection = CurrentPage.Children.Where("Visible").OrderBy("CreateDate desc"); }

<ul class="newsListing">
    @foreach (Node item in parent.ChildrenAsList.OrderByDescending(x => x.Id))
    {
        <li><span class="date">@item.CreateDate.ToString("dd.MM.yyyy")</span> <a href="@item.Url">@item.Name</a></li>
    }
</ul>