@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ReTeeMaster.cshtml";

}

<div class="container-fluid homepageBannerContainer hidden-xs">
    <div class="container">
        <div id="banners">
            <div id="pager"></div>
            @{
                if (CurrentPage.HasValue("banners"))
                {
                    var bannersNode = Umbraco.TypedContent(CurrentPage.GetPropertyValue<int>("banners"));

                    foreach (var banner in bannersNode.Children)
                    {

                        var BoolLink = (Umbraco.Field(banner, "bannerLink").ToString() != "");
                        var LinkUrl = string.Empty;
                        if (BoolLink)
                        {
                            var BannerID = Umbraco.Field(banner, "bannerLink").ToString();
                            LinkUrl = Umbraco.TypedContent(BannerID).Url;
                        }

                        <div class="col-md-12 slide" style="background-image: url('@Umbraco.TypedMedia(Umbraco.Field(banner, "bannerImage").ToString()).Url');height: 400px;@if (BoolLink) { <text>cursor: pointer;</text> }" @if (BoolLink) { <text> onclick="window.location.href='@LinkUrl'" </text> }>
                            <div class="col-md-6">
                                <p class="bannerText">
                                    @Umbraco.Field(banner, "bannerText") @if (BoolLink)
                                    { <text>&raquo;</text> }
                                </p>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">@Umbraco.RenderMacro("NewsListHomepage")</div>
</div>