@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "ReTeeMaster.cshtml";
}
Etunimi
Sukunimi
Sähköpostiosoite
Puhelinnumero
Syntymäaika (päivä, kk, vuosi)
Lähiosoite
Postinumero
Postitoimipaikka
Pääasiallinen seurasi mikäli liityt kannatusjäseneksi
Haluatko kilpailijalisenssin (50 euroa), mikäli haluat:
PDGA-numerosi mikäli sinulla sellainen on
Haluatko lisäksi PDGA jäsenkiekon (15 euroa, vain uudet jäsenet)
Tilaatko PDGA:n jäsenlehden (35 euroa, 4 numeroa vuodessa)
<div class="container-fluid">
    <div class=""
</div>