body {
    .navContainer {
        height: 51px;
        .navbar-default {
            border-bottom-width: 0;
            .navbar-collapse {
                padding: 0;
            }
        }
    }    
    .boxNews {
        height: 300px;
        .boxNewsContainer {
            height: 260px;
        }
    }
}