<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT ReteeMaster ANY>
<!ATTLIST ReteeMaster id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1093" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-10-09T10:26:20" updateDate="2015-10-10T19:13:07" nodeName="ReTee ry" urlName="retee-ry" path="-1,1093" isDoc="" nodeType="1092" creatorName="Juho Vuotila" writerName="Juho Vuotila" writerID="0" template="1098" nodeTypeAlias="Home">
    <pageName><![CDATA[Etusivu]]></pageName>
    <metaDescription><![CDATA[ReTee ry on Janakkalassa toimiva frisbeegolfseura.]]></metaDescription>
    <metaKeywords><![CDATA[frisbeegolf, urheiluseura, janakkala]]></metaKeywords>
    <bodyText><![CDATA[<p>ReTee ry on uusi Janakkalainen frisbeegolfiin keskittyvä urheiluseura. Seuraan liittyminen ei toistaiseksi ole vielä auki sillä käynnistelemme vasta seuratoimintaa. Liittyminen tulee kuitenkin mahdolliseksi loppuvuoden aikana.</p>
<p><span>ReTee ry:n jäsenmaksut vuodelle 2016 ovat</span></p>
<ul>
<li><span>20 euroa aikuisilta</span></li>
<li><span>10 euroa junioreilta (vuonna 1997 tai sen jälkeen syntyneet)</span></li>
<li><span>100 euroa kannatusjäseniltä (Kannatusjäseniksi voivat liittyä yksityishenkilöt, rekisteröidyt yhdistykset ja muut oikeuskelpoiset yhteisöt, jotka haluavat tukea yhdistyksen tarkoitusta ja toimintaa.).</span></li>
<li><span>10 euroa kannatusjäseniltä jotka ovat yksityishenkilöitä ja kuuluvat jo johonkin toiseen SFL:n alaiseen jäsenseuraan.</span></li>
</ul>
<p><span>Jäsenmaksukausi alkaa 1.1.2016 ja päättyy 31.12.2016.</span></p>
<p> </p>
<h2>Logokilpailu</h2>
<p>Etsimme maailman upeinta logoa seurallemme, joten julistammekin nyt alkaneeksi kaikille avoimen logokilpailun.</p>
<h3>Kilpailun säännöt</h3>
<p>- Kilpailun järjestäjä: ReTee ry<br />- Kilpailuaika: 9.10.–1.11.2015<br />- Tulosten julkistus: 19.11.2015<br />- Suunnittelukilpailu on avoin kaikille</p>
<h3>Vaatimukset</h3>
<p>- Logon pitää toimia sähköisessä ja painetussa viestinnässä pienessä ja suuressa koossa sekä värillisenä että mustavalkoisena.<br />- Logon on oltava sähköisessä muodossa.<br />- Eduksi katsotaan: kekseliäisyys, seuran nimeen tai frisbeegolfiin viittaavuus.</p>
<h3>Osallistumisoikeus ja ohjeet</h3>
<p>Kukin suunnittelija voi osallistua enintään kahdella (2) logosuunnitelmalla. Tiedosto tulee nimetä niin, että siitä käy ilmi suunnittelijan nimi sekä työn numero (esim. etunimi.sukunimi.työnnumero.png).<br /><br />Kilpailutyön tulee olla kilpailuun osallistuvan suunnittelema. Osallistuja vastaa siitä, että hänen lähettämänsä materiaali ei ole loukkaavaa ja se noudattaa sisällöltään hyvää tapaa ja lakia. Kilpailija vakuuttaa, että hänellä on oikeudet tunnuksen käyttämiseen kilpailutyönä näiden sääntöjen mukaisesti sekä oikeus edelleen luovuttaa näiden sääntöjen edellyttämät oikeudet ReTee ry:lle.</p>
<h3>Kilpailutöiden toimitus</h3>
<p>Logoehdotukset tulee toimittaa 1.11.2015 klo 22.00 mennessä sähköpostiosoitteeseen puheenjohtaja@retee.golf. Kilpailutyöt toimitetaan A4-koossa sähköisesti mieluiten vektorimuodossa (SVG, AI), mutta myös pakkaamattoman bittimapit hyväksytään (PNG, BMP, TIFF, PSD). Tiedoston maksimikoko on 5MB. <br /><br />Kilpailutöihin liitetään tekijän/tekijöiden nimimerkit ja yhteystiedot (nimi, osoite, puhelinnumero ja sähköpostiosoite). Kilpailutöitä ei palauteta. Vain sähköpostilla määräaikaan mennessä lähetetyt logoehdotukset osallistuvat kilpailuun. Osallistujan ollessa alaikäinen: Muista kysyä huoltajaltasi lupa osallistua kilpailuun ja liittää huoltajan nimi ja puhelinnumero osallistumisviestiin.</p>
<h3>Kilpailutöiden arviointi</h3>
<p>ReTee ry:n hallitus ja valitsee voittajan. Kilpailutöiden arvioinnissa kiinnitetään huomiota logon tekniseen ja visuaaliseen kokonaisuuteen ja toimivuuteen, logon selkeyteen ja siihen, kuinka hyvin se sopii seuran käyttöön.</p>
<h3>Tulosten julkistaminen ja palkinto</h3>
<p>Tulokset julkistetaan 19.11.2015. Voittajille ilmoitetaan henkilökohtaisesti ja asiasta tiedotetaan ReTee ry:n internetsivuilla sekä facebookissa. Voittavan logon tekijä palkitaan vuoden täysjäsenyydellä ReTee ry:ssä.</p>
<h3>Tekijänoikeudet ja logon käyttöönotto</h3>
<p>Voittajatyön tekijä sitoutuu siirtämään kaikki tekijänoikeudet ReTee ry:lle ilman erillistä korvausta. Kaikkien muiden kilpailutöiden osalta tekijänoikeus säilyy tekijällä. <br /><br />ReTee ry:llä on oikeus tehdä logoon muutoksia. Voittajalla ei ole oikeutta luovuttaa kilpailuun lähetettyihin kuviin ja piirroksiin liittyviä oikeuksia muille kuin ReTee ry:lle. Kilpailun järjestäjä varaa oikeuden olla ottamatta käyttöön voittanutta ehdotusta. <br /><br />Kilpailua koskeviin kysymyksiin vastaa seuran puheenjohtaja Juho Vuotila, jonka tavoittaa sähköpostiosoitteesta: puheenjohtaja@retee.golf tai puh: 046 810 5777.</p>
<p> </p>]]></bodyText>
    <backgroundImage>1101</backgroundImage>
  </Home>
  <Home id="1103" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-10-10T19:07:48" updateDate="2015-10-10T19:20:16" nodeName="ReTee ry (en)" urlName="retee-ry-en" path="-1,1103" isDoc="" nodeType="1092" creatorName="Juho Vuotila" writerName="Juho Vuotila" writerID="0" template="1098" nodeTypeAlias="Home">
    <pageName><![CDATA[Homepage]]></pageName>
    <metaDescription><![CDATA[ReTee ry on Janakkalassa toimiva frisbeegolfseura.]]></metaDescription>
    <metaKeywords><![CDATA[disc golf, sport club, janakkala]]></metaKeywords>
    <bodyText><![CDATA[<p>ReTee reg.assn. is a new Disc Golf club from Janakkala, focusing only in disc golf. Joining the club is not yet possible, due we are just starting our journey as an Disc Golf club. Joining will be possible at the end of this year.</p>
<p>ReTee's member fees in the year 2016 as followed:</p>
<ul>
<li>20euros for Adults</li>
<li>10euros for Junior members (born in year 1997 or after)</li>
<li>100euros for supporter member (Supporter members can be private persons, registered clubs and other legally identified communities, who are willing to support our club´s actions and purposes)</li>
<li>10euro supporter fee for private persons who are registered to some other team under SFL</li>
</ul>
<p>Member fee season starts 1.1.2016 and ends in 31.12.2016</p>
<h2>Logo contest</h2>
<p>We are looking for the world´s greatest logo for our club, so we now declare contest, which is open for all, to find the best logo there is!</p>
<h2>Rules:</h2>
<p>- Organizer : ReTee reg.assn.<br />- Time period: 9.10. – 1.11.2015<br />- Declaring winner: 19.11.2015<br />- Contest is open for everyone</p>
<h3>Requirements</h3>
<p>- Logo must work on a computer, small or large size, both colored or black/white.<br />- Logo must be a digital file<br />- Extra credit for creativity, indication to disc golf and/or ReTee´s name</p>
<h3>Participation rules and instructions</h3>
<p>Maximum two (2) designs per contestant. Name your file so that the designer and the work number can be recognized (e.g. Name.surname.designnumber.png).</p>
<p>Designs must be fully designed by the participant. Participants are fully responsible for that the design is not offensive and it follows the rules of good manners, taste and Finnish laws. Contestant ensures that he/she owns the rights to the design used in competition within the rules mentioned above and is willing to grant full rights to the design to ReTee reg.assn.</p>
<h3>Posting designs</h3>
<p>Logo suggestions has to be posted before 10:00p.m. of 11/01/2015 on address puheenjohtaja@retee.golf. All designs must be size A4  in a digital file. We prefer vector graphics (SVG, AI), but unpacked bitmaps are also welcome (PNG, BMP, TIFF, PSD). Maximum file size is 5MB.</p>
<p>All designs must be included with designer(s) name, phone number, home- and email address. We do not return the designs. Only designs that are posted before deadline (mentioned above), will participate the contest. If you are minor (u18): Ask your caretaker for permission to participation and include caretakers name and phone number to the post.</p>
<h3>Judging the designs</h3>
<p>The executives of ReTee reg. assn. will decide the winner. We will pay attention to the technical execution, visual innovations, clarity, practicality and how good it suits to our purposes.</p>
<h3>Announcing the winner</h3>
<p>Winner will be declared 11/19/2015. Winner is contacted personally and results will be posted to our website and in our facebook page.</p>
<h3>Prize</h3>
<p>The winner will be granted a free full year membership to ReTee reg. assn.</p>
<h3>Copyrights and use of the logo</h3>
<p>Winning designer engages to grant copyrights to full use of the logo/design to ReTee reg. assn. without any fees. Other contestants keeps their copyrights for their designs.</p>
<p>ReTee reg. assn. holds the rights to edit or modify winning design. Winner has no right to give rights for the pictures/designs sent in the competition to any third persons, only for ReTee reg. assn. ReTee reg. assn. claims the right for not to use the winning design.</p>
<p>For any questions about the competition, our Chairman, Juho Vuotila, is willing to answer: email: puheenjohtaja@retee.golf or telephone 046 810 577</p>]]></bodyText>
    <backgroundImage>1102</backgroundImage>
  </Home>
</root>